.faqs{
    text-align: center;
    margin: 75px;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}

.faqs-p{
    margin: 25px 100px 50px 100px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}
