.body {
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
}

.container {
    margin-top: 50px;
    margin-bottom: 30px;
}

.fas fa-filter {
    color: black;
}

input[type="date"] {
    color: black;
    background: white;
    box-shadow: 0.2px 0.2px 2px;
    border: transparent;
    border-radius: 4px;
}

::-webkit-datetime-edit {
    padding-left: 10%;
}

.containermenu {
    width: 200px;
    height: 320px;
    border: 3px solid black;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.containermenu img {
    padding: 5%;
}
