@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f88753;
  margin: 0;
}
.logo {
  width: 100%;
  height: 180px;
  background-color: white;
  display: flex;
  align-items: center;
}
.logo img {
  margin: auto;
  width: 500px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.containercontroller {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
input {
  padding: 5px 10px 5px 10px;
  width: 500px;
  border: 1px solid orangered;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}
.password {
  padding-top: 10px;
}
.container2 {
  margin-top: 20px;
}
.buttonmasuk {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}
.buttonmasuk button {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid orangered;
  border-radius: 10px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.buttonmasuk a {
  text-decoration: none;
}

.buttonmasuk a:hover, .buttonmasuk button:hover {
  opacity: 0.7;
  color: gray;
}

.masuk {
  display: flex;
  justify-content: center;
  font-family: "Outfit", sans-serif;
}

.ke-signup {
  text-align: center;
  margin: 25px;
}

.ke-signup a:hover {
  opacity: 0.7;
}
