@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f88753;
    margin: 0;
    margin-right: 0;
}
.logo{
    width: 100%;
    height: 180px;
    background-color: white;
    display: flex;
    align-items: center;
}
.logo img{
    margin: auto;
    width: 500px;
}
.container1{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.controlcontainer1{
    margin: auto;
    width: 40%;
}
.namadepan{
    width: 48%;
}
.namadepan input{
    width: 100%;
}
.namabelakang{
    width: 50%;
}
.namabelakang input{
    width: 100%;
}
.controlnamadepanbelakang{
    display: flex;
    justify-content: space-between;
}
.controlnamadepanbelakang input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid orangered;
}
.datainputsignup{
    padding-top: 10px;
}
.datainputsignup input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid orangered;
    width: 100%;
}
.buttoncontrol{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttoncontrol button{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid orangered;
    border-radius: 10px;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.buttoncontrol a{
    text-decoration: none;
}

.buttonmasuk a:hover, .buttonmasuk button:hover {
    opacity: 0.7;
    color: gray;
}

.ke-signin{
    text-align: center;
    margin: 25px;
}

.ke-signin a:hover{
    opacity: 0.7;
}

@media(max-width:1060px){
    .controlnamadepanbelakang{
        flex-direction: column;
    }
    .namadepan{
        width: 100%;
        padding-top: 10px;
    }
    .namadepan input{
        width: 100%;
    }
    .namabelakang{
        padding-top: 10px;
        width: 100%;
    }
    .namabelakang input{
        width: 100%;
    }
}